#charset "utf-8";

#workouts {
    width: 100%;
}

#categoryTable{
    margin-right:auto;
    margin-left:auto;
    table-layout: fixed;
    width:100%;
    border-spacing: 0;
}

#categoryTable td{
    
}

#categories{
    height: 100%;
    text-align: center;
    width: 100%;
    background-color: #D3D3D3;
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
}

#categories ul{
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

#categories ul li{
    list-style-type: none;
    display: inline;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
}

.active{
    background-color: white;
    color: black;
    margin-bottom: 1px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#categories table td a{
    font-size: 17px;
    text-decoration: none;
    color: red;
}






#category{


    vertical-align: top;
   text-align: center;
    border-left: 1px solid;
    padding-left: 10px;
    padding-bottom: 50%;
}

#category p, h3{
  text-align: left;
}
