#charset "utf-8";

#workouts {
    width: 100%;
}

#categories{
    height: 100%;
    text-align: center;
}

#categories ul li{
    list-style-type: none;
    display: inline;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
}

#categories h3{
  text-align: center;
}

#workouts ul li{
    list-style-type: none;
}

#categories ul li a{
    text-decoration: none;
}

#categories ul li a:hover{
    
}


#categories ul li a:active{
    color: green;
}

.active{
    color: green;
}

#category{


    vertical-align: top;
   text-align: center;
    border-left: 1px solid;
    padding-left: 10px;
    padding-bottom: 50%;
}

#category p, h3{
  text-align: left;
}
